$sizeImg: 60vh;

.loginBg {
    @apply w-full relative flex justify-end items-center;
        
        &:before {
            content: '';
            @apply absolute;
            object-fit: cover;
            background-image: url("../../../../assets/images/bg.jpg");
            width: calc(100vh - #{$sizeImg} / 2);
            height: 100vh;
            left: 0;
        }

        img {
            max-width: $sizeImg;
            @apply z-10;
        }
}