@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Rubik;
    font-weight: 400;
    src: url('./assets/fonts/Rubik/Rubik-Regular.ttf') format("ttf");
  }

  @font-face {
    font-family: Rubik;
    font-weight: 500;
    src: url('./assets/fonts/Rubik/Rubik-Medium.ttf') format("ttf");
  }

  @font-face {
    font-family: Rubik;
    font-weight: 600;
    src: url('./assets/fonts/Rubik/Rubik-SemiBold.ttf') format("ttf");
  }
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}