$sizeImg: 75%;

.test {
    .button {
        display: inline-block;
        padding: 10px 20px;
        border: 3px solid orange;
        position: relative;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: orange;
    }

    .button:before {
        content: "";
        position: absolute;
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        border: 3px solid black;
        z-index: -1;
    }

}