.test {
    // background-image: url('../../assets/images/MainPhoto.png');
    &__child {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: url('../../assets/images/MainPhoto.png');
            opacity: 0.5;
            z-index: -1;
        }
    }
}